body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
  background-color: bisque;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
a, p, span {
  font-size: 16px;
  font-weight: normal;
}
input {
  border: none;
  outline: none;
  box-shadow: none;
}
input:focus {
  border: none;
  outline: none;
  box-shadow: none;
  outline-width: 0;
}
